<!DOCTYPE html>
<html>

<head>
    <title>VKmarket</title>
    <link rel="stylesheet" type="text/css" href="media/style/[+theme+]/css/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/modules/VKmarket/css/styles.css" />
    <script type="text/javascript" src="media/script/tabpane.js"></script>
    <script type="text/javascript" src="[+jquery_path+]"></script>
    <script type="text/javascript" src="media/script/mootools/mootools.js"></script>
</head>

<body>
    <h1>
        <i class="fa fa-vk"></i>VKmarket
    </h1>

    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-success" href="javascript:;" onclick="window.location.href=window.location.href;">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </a>
            <a class="btn btn-secondary" href="javascript:;" onclick="window.location.href='index.php?a=106';">
                <i class="fa fa-times-circle"></i>
                <span>Закрыть</span>
            </a>
        </div>
    </div>

    <div class="container container-body">
        <p class="h4 text-danger mb-1"><strong>Ошибка конфигурации</strong></p>
        <p>Проверьте следующие параметры:</p>
        <ul>[+errors+]</ul>
    </div>

</body>

</html>