<!DOCTYPE html>
<html>

<head>
    <title>VKmarket</title>
    <link rel="stylesheet" type="text/css" href="../assets/modules/VKmarket/datatables/css/jquery.datatables.min.css">
    <link rel="stylesheet" type="text/css" href="media/style/[+theme+]/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/VKmarket/css/styles.css">
    <script type="text/javascript" src="media/script/tabpane.js"></script>
    <script type="text/javascript" src="[+jquery_path+]"></script>
    <script type="text/javascript" src="media/script/mootools/mootools.js"></script>
    <script>
        function showLoader() {
            document.querySelector('body').classList.add('loading');
        }
        const checkAll = function (data_function, it) {
            const items = document.querySelectorAll('[data-function="' + data_function + '"]');
            for (let index = 0; index < items.length; index++) {
                const item = items[index];
                item.checked = it.checked;
            }
        }
    </script>
</head>

<body>
    <div id="mainloader"></div>
    <h1>
        <i class="fa fa-vk"></i>VKmarket
    </h1>

    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-secondary" href="javascript:;" onclick="window.location.href=window.location.href;">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </a>
            <a class="btn btn-danger" href="javascript:;" onclick="window.location.href='index.php?a=106';">
                <i class="fa fa-times-circle"></i>
                <span>Закрыть</span>
            </a>
        </div>
    </div>

    <div class="tab-pane vk" id="market_pane">
        [+original+]
        <div class="tab-page" id="license_page">
            <h2 class="tab">Лицензии</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="license_pane">
                    [+license_nopub+]
                    [+license_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="spray_page">
            <h2 class="tab">Спреи</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="spray_pane">
                    [+spray_nopub+]
                    [+spray_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="probnik_page">
            <h2 class="tab">Пробники</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="probnik_pane">
                    [+probnik_nopub+]
                    [+probnik_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="phero10_page">
            <h2 class="tab">С феромонами</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="phero10_pane">
                    [+phero10_nopub+]
                    [+phero10_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="mini_page">
            <h2 class="tab">Миниатюры</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="mini_pane">
                    [+mini_nopub+]
                    [+mini_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="album_page">
            <h2 class="tab"><i class="fa fa-folder"></i> Подборки</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="album_pane">
                    [+album_nopub+]
                    [+album_pub+]
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/modules/VKmarket/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $('#example').DataTable();
    </script>
</body>

</html>