<!DOCTYPE html>
<html>

<head>
    <title>VKmarket</title>
    <link rel="stylesheet" type="text/css" href="media/style/[+theme+]/css/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/modules/VKmarket/css/styles.css" />
    <script type="text/javascript" src="media/script/tabpane.js"></script>
    <script type="text/javascript" src="[+jquery_path+]"></script>
    <script type="text/javascript" src="media/script/mootools/mootools.js"></script>
    <script>
        function showLoader() {
            document.querySelector('body').classList.add('loading');
        }

        function confirmDeleteCheck() {
            return confirm("Вы уверены, что хотите удалить в VK выбранные элементы? \n\nЭто может занять некоторое время.");
        }

        function confirmDeleteOne() {
            return confirm("Вы уверены, что хотите удалить в VK выбранный элемент?");
        }

        function confirmRefreshCheck() {
            return confirm("Вы уверены, что хотите обновить данные выбранных элементов в VK? \n\nЭто может занять некоторое время.");
        }

        function confirmAddCheck() {
            return confirm("Вы уверены, что хотите загрузить выбранные элементы в VK? \n\nЭто может занять некоторое время.");
        }
    </script>
</head>

<body>
    <div id="mainloader"></div>
    <h1>
        <i class="fa fa-vk"></i>VKmarket
    </h1>

    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-success" href="javascript:;" onclick="window.location.href=window.location.href;">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </a>
            <a class="btn btn-secondary" href="javascript:;" onclick="window.location.href='index.php?a=106';">
                <i class="fa fa-times-circle"></i>
                <span>Закрыть</span>
            </a>
        </div>
    </div>

    <div class="tab-pane" id="vk_market_pane">
        <div class="tab-page" id="vk_items">
            <h2 class="tab"><i class="fa fa-file-o"></i> Товары</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="vk_items_pane">
                    [+items_nopub+]
                    [+items_pub+]
                </div>
            </div>
        </div>
        <div class="tab-page" id="vk_albums">
            <h2 class="tab"><i class="fa fa-folder"></i> Подборки</h2>
            <div class="tab-body pl-0 pr-0">
                <div class="tab-pane" id="vk_albums_pane">
                    [+albums_nopub+]
                    [+albums_pub+]
                </div>
            </div>
        </div>
    </div>

    <script>
        const checkAll = function (name, it) {
            const items = document.querySelectorAll('[name="' + name + '"]');
            for (let index = 0; index < items.length; index++) {
                const item = items[index];
                item.checked = it.checked;
            }
        }
    </script>
</body>

</html>