<div class="tab-page" id="albums_nopub">
    <h2 class="tab">
        <i class="fa fa-folder text-muted"></i>
        <span class="text-normal">Не загруженные</span>
    </h2>
    <div class="tab-body">
        <p>
            В данной таблице приведены доступные модулю категории товаров. В сообществе ВК они будут опубликованы, как подборки.<br>
            Вы можете загружать / удалять / обновлять данные нажатием на кнопки соответствующих действий.
        </p>
        <br>
        <form action="" method="POST">
            <div class="table-responsive">
                <table class="table data vk">
                    <thead>
                        <tr>
                            <th style="width: 1%;"><input id="albums_nopub_all" name="albums_nopub_all" type="checkbox"></th>
                            <th style="width: 1%;">ID</th>
                            <th style="width: 97%;"><i class="fa fa-folder fa-fw invisible mr-1"></i> Заголовок</th>
                            <th style="width: 1%;" class="text-right">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        [+dl.wrap+]
                        <tr>
                            <td colspan="3">Действия для отмеченных подборок:</td>
                            <td class="text-right">
                                <span class="actions">
                                    <a href="javascript:;" onclick="return true;" title="Опубликовать в VK">
                                        <i class="fa fa-arrow-up fa-fw"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">
                                [+albums_nopub.pages+]
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
</div>