<tr>
    <td>
        <input name="albums_nopub" type="checkbox" value="[+id+]">
    </td>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-folder fa-fw text-muted mr-1" title="Подборка не опубликована в VK"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">[+pagetitle+]</a>
    </td>
    <td class="actions text-right">
        <form class="vk__action" action="" method="POST">
            <input type="hidden" name="method" value="add">
            <input type="hidden" name="template" value="[+template+]">
            <input type="hidden" name="id" value="[+id+]">
            <button class="btn btn-sm btn-success" title="Опубликовать в VK" type="submit">
                <i class="fa fa-arrow-up fa-fw"></i>
            </button>
        </form>
    </td>
</tr>