<tr>
    <td>
        <input name="items_pub" type="checkbox" value="[+id+]">
    </td>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-check fa-fw text-success mr-1" title="Товар опубликован в VK"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [+pagetitle+]
        </a>
    </td>
    <td class="text-right">[+tv.vk_item_id+]</td>
    <td class="actions text-right">
        <form class="vk__action" action="" method="POST">
            <input type="hidden" name="method" value="edit">
            <input type="hidden" name="template" value="[+template+]">
            <input type="hidden" name="id" value="[+id+]">
            <button class="btn btn-sm" title="Обновить данные в VK" type="submit">
                <i class="fa fa-refresh fa-fw"></i>
            </button>
        </form>
        <form class="vk__action" action="" method="POST">
            <input type="hidden" name="method" value="delete">
            <input type="hidden" name="template" value="[+template+]">
            <input type="hidden" name="id" value="[+id+]">
            <button class="btn btn-sm btn-danger" title="Удалить в VK" type="submit">
                <i class="fa fa-arrow-down fa-fw"></i>
            </button>
        </form>
    </td>
</tr>