<div class="tab-page" id="items_pub">
    <h2 class="tab">
        <i class="fa fa-check text-success"></i>
        <span class="text-normal">Загруженные</span>
    </h2>
    <div class="tab-body">
        <p>
            В данной таблице приведены доступные модулю товары.<br>
            Вы можете загружать / удалять / обновлять данные нажатием на кнопки соответствующих действий.
        </p>
        <br>
        <form class="table-responsive" action="" method="POST">
            <table class="table data vk">
                <thead>
                    <tr>
                        <th style="width: 1%;">ID</th>
                        <th style="width: 97%;"><i class="fa fa-file-o fa-fw invisible mr-1"></i> Заголовок</th>
                        <th style="width: 1%;" class="text-right">ID VK</th>
                        <th style="width: 1%;" class="text-right">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    [+dl.wrap+]
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            [+items_pub.pages+]
                        </th>
                        <th class="text-right">
                            <button class="btn btn-success" type="submit" onclick="showLoader();">Отправить</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>