<tr>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-check fa-fw text-success mr-1" title="Товар опубликован в VK"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [+pagetitle+]
        </a>
    </td>
    <td class="text-right">[+tv.vk_item_id+]</td>
    <td class="actions text-right">
        <label class="vk__action" title="Обновить данные в VK">
            <input style="display: none;" type="checkbox" data-function="item_edit" name="actions[]" value='{"function":"edit","id":[+id+],"template":[+template+],"vk_id":[+tv.vk_album_id+]}'>
            <div class="btn btn-sm btn--edit">
                <i class="fa fa-refresh fa-fw"></i>
            </div>
        </label>
        <label class="vk__action" title="Удалить в VK">
            <input style="display: none;" type="checkbox" data-function="item_delete" name="actions[]" value='{"function":"delete","id":[+id+],"template":[+template+],"vk_id":[+tv.vk_album_id+]}'>
            <div class="btn btn-sm btn--delete">
                <i class="fa fa-arrow-down fa-fw"></i>
            </div>
        </label>
    </td>
</tr>