<tr>
    <td>
        <input name="items_pub" type="checkbox" value="[+id+]">
    </td>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-check fa-fw text-success mr-1" title="Товар опубликован в VK"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [+pagetitle+]
        </a>
    </td>
    <td class="text-right">[+tv.vk_item_id+]</td>
    <td class="actions text-right">
        <a href="javascript:;" onclick="return true;" title="Обновить данные в VK">
            <i class="fa fa-refresh fa-fw"></i>
        </a>
        <a href="javascript:;" onclick="return true;" title="Удалить в VK">
            <i class="fa fa-trash fa-fw"></i>
        </a>
    </td>
</tr>