<tr>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-file-o text-muted fa-fw mr-1" title="Товар не опубликован в VK"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [+pagetitle+]
        </a>
    </td>
    <td class="actions text-right">
        <label class="vk__action" title="Опубликовать в VK">
            <input style="display: none;" type="checkbox" name="actions[]" value='{"function":"add","id":[+id+],"template":[+template+]}'>
            <div class="btn btn-sm btn--add">
                <i class="fa fa-arrow-up fa-fw"></i>
            </div>
        </label>
    </td>
</tr>