<div class="tab-page" id="tabItems">
    <h2 class="tab"><i class="fa fa-th"></i> Товары</h2>
    <div class="tab-body">
        <p>
            Выберите в таблице товары, которые вы хотите добавить / обновить / удалить в сообществе ВК.<br>
            Затем выберите действие, которое необходимо произвести (кнопки после таблицы).
        </p>
        <br>
        <form action="" method="POST">
            <div class="table-responsive">
                <table class="table data">
                    <thead>
                        <tr>
                            <th style="width: 1%;">EVO ID</th>
                            <th style="width: 1%;">VK ID</th>
                            <th>Название</th>
                            <th style="width: 1%;">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        [+dl.wrap+]
                    </tbody>
                </table>
            </div>
        </form>
        [+pages+]
    </div>
</div>