<tr>
    <td>[+id+]</td>
    <td>[+tv.vk_album_id+]</td>
    <td>[+pagetitle+]</td>
    <td class="actions text-right">
        [[if?
        &is=`[+tv.vk_album_id+]:empty`
        &then=`
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-vk" title="Подключить к ВК"></i>
        </a>`
        &else=`
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-refresh" title="Обновить данные в ВК"></i>
        </a>
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-power-off" title="Отключить от ВК"></i>
        </a>`]]
    </td>
</tr>