<tr>
    <td>[+id+]</td>
    <td>
        [[if? &is=`[+tv.vk_album_id+]:empty`
        &then=`<i class="fa fa-folder fa-fw text-muted mr-1" title="Подборка не опубликована в VK"></i>`
        &else=`<i class="fa fa-check fa-fw text-success mr-1" title="Подборка опубликована в VK"></i>`
        ]]
        <a class="deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=3&amp;id=[+id+]" target="main">[+pagetitle+]</a>
    </td>
    <td class="text-right">[+tv.vk_album_id+]</td>
    <td class="actions text-right">
        [[if?
        &is=`[+tv.vk_album_id+]:empty`
        &then=`
        <a href="index.php?a=27&amp;id=[+id+]" target="main" title="Редактировать">
            <i class="fa fa-edit fa-fw"></i>
        </a>
        <a href="javascript:;" onclick="return true;" title="Опубликовать в VK">
            <i class="fa fa-arrow-up fa-fw"></i>
        </a>`
        &else=`
        <a href="javascript:;" onclick="return true;" title="Обновить данные в VK">
            <i class="fa fa-refresh fa-fw"></i>
        </a>
        <a href="index.php?a=27&amp;id=[+id+]" target="main" title="Редактировать">
            <i class="fa fa-edit fa-fw"></i>
        </a>
        <a href="javascript:;" onclick="return true;" title="Отменить публикацию в VK">
            <i class="fa fa-arrow-down fa-fw"></i>
        </a>`]]
    </td>
</tr>