<tr>
    <td>[+id+]</td>
    <td>[+tv.vk_item_id+]</td>
    <td>[+pagetitle+]</td>
    <td class="actions text-right">
        [[if?
        &is=`[+tv.vk_item_id+]:empty`
        &then=`
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-vk" title="Подключить к VK"></i>
        </a>`
        &else=`
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-refresh" title="Обновить данные в VK"></i>
        </a>
        <a href="javascript:;" onclick="return true;">
            <i class="fa fa-power-off" title="Отключить от VK"></i>
        </a>`]]
    </td>
</tr>