<div class="tab-body">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum earum quasi tempore illo omnis voluptates quia, cum deleniti incidunt ullam numquam suscipit, culpa saepe quos enim, provident facere aperiam nostrum.</p>
    <br>
    <div class="table-responsive">
        <table class="display table" id="original-table">
            <thead>
                <tr>
                    <th><input type="checkbox" class="check-original-all"></th>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Состояние</th>
                    <th>ID ВК</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Состояние</th>
                    <th>ID ВК</th>
                    <th>
                        <button class="btn btn-success" type="submit" onclick="showLoader();">Отправить</button>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                [+dl.wrap+]
            </tbody>
        </table>
        <script>
            jQuery("#original-table").DataTable();
        </script>
    </div>
</div>