<tr>
    <td><input type="checkbox" class="original_pub-check" name="items[]" value='{"id":[+id+],"template":[+template+],"vk_id":[+tv.vk_original_id+]}'></td>
    <td class="actions">
        <a href="javascript:;" onclick="postOne('edit', '[+id+]', '#original_pub-form', '[+tv.vk_original_id+]')" title="Обновить данные в сообществе ВК">
            <i class="fa fa-refresh fa-fw"></i>
        </a>
        <a href="javascript:;" onclick="postOne('delete', '[+id+]', '#original_pub-form', '[+tv.vk_original_id+]')" title="Удалить из сообщества ВК">
            <i class="fa fa-arrow-down fa-fw"></i>
        </a>
    </td>
    <td>
        <i class="fa fa-check text-success mr-1" title="Загружен в ВК"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [[DocInfo? &docid=`[+parent+]` &field=`pagetitle`]] "[+pagetitle+]"
        </a> - оригинал ([+id+])
    </td>
    <td>[+tv.vk_original_id+]</td>
</tr>