<div class="tab-page" id="phero10_pub_page">
    <h2 class="tab">
        <i class="fa fa-check text-success"></i>
        <span class="text-normal">Загруженные</span>
    </h2>
    <div class="tab-body">
        <p>
            В данной таблице приведены загруженные в ВК с феромонами. Вы можете их обновить или удалить.<br>
            Для этого отметьте соответствующие действия и отправьте данные на обработку.
        </p>
        <br>
        <form class="table-responsive" action="" method="POST">
            <table class="table data vk">
                <thead>
                    <tr>
                        <th style="width: 1%;">ID</th>
                        <th style="width: 97%;"><i class="fa fa-file-o fa-fw invisible mr-1"></i> Заголовок</th>
                        <th style="width: 1%;" class="text-right">ID VK</th>
                        <th style="width: 1%;" class="text-right">
                            <label class="vk__action" title="Обновить в ВК">
                                <input style="display: none;" type="checkbox" name="all" onchange="checkAll('edit_phero10', $(this));">
                                <div class="btn btn-sm btn--edit">
                                    <i class="fa fa-refresh fa-fw"></i>
                                </div>
                            </label>
                            <label class="vk__action" title="Удалить в ВК">
                                <input style="display: none;" type="checkbox" name="all" onchange="checkAll('delete_phero10', $(this));">
                                <div class="btn btn-sm btn--delete">
                                    <i class="fa fa-arrow-down fa-fw"></i>
                                </div>
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    [+dl.wrap+]
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            [+phero10_pub.pages+]
                        </th>
                        <th class="text-right">
                            <button class="btn btn-success" type="submit" onclick="showLoader();">Отправить</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>