<tr>
    <td><input type="checkbox" class="probnik_nopub-check" name="items[]" value='{"id":[+id+],"template":[+template+]}'></td>
    <td class="actions">
        <a href="javascript:;" onclick="postOne('add', '[+id+]', '#probnik_nopub-form')" title="Загрузить в сообщество ВК">
            <i class="fa fa-arrow-up fa-fw"></i>
        </a>
    </td>
    <td>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [[DocInfo? &docid=`[+parent+]` &field=`pagetitle`]] "[+pagetitle+]"
        </a> - пробник ([+id+])
    </td>
    <td></td>
</tr>