<tr>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-file-o text-muted fa-fw mr-1" title="Не загружен в ВК"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [[DocInfo? &docid=`[+parent+]` &field=`pagetitle`]] - [+pagetitle+] (пробник)
        </a>
    </td>
    <td class="actions text-right">
        <label class="vk__action" title="Загрузить в ВК">
            <input style="display: none;" type="checkbox" data-function="add_probnik" name="actions[]" value='{"function":"add","type":"probnik","id":[+id+],"template":[+template+]}'>
            <div class="btn btn-sm btn--add">
                <i class="fa fa-arrow-up fa-fw"></i>
            </div>
        </label>
    </td>
</tr>