<tr>
    <td>[+id+]</td>
    <td>
        <i class="fa fa-check fa-fw text-success mr-1" title="Загружен в ВК"></i>
        <a class="vk__item deleted-[+deleted+] published-[+published+]" title="Обзор ресурса" href="index.php?a=27&amp;id=[+id+]" target="main">
            [[DocInfo? &docid=`[+parent+]` &field=`pagetitle`]] - [+pagetitle+] (спрей)
        </a>
    </td>
    <td class="text-right">[+tv.vk_spray_id+]</td>
    <td class="actions text-right">
        <label class="vk__action" title="Обновить в ВК">
            <input style="display: none;" type="checkbox" data-function="edit_spray" name="actions[]" value='{"function":"edit","type":"spray","id":[+id+],"template":[+template+],"vk_id":[+tv.vk_spray_id+]}'>
            <div class="btn btn-sm btn--edit">
                <i class="fa fa-refresh fa-fw"></i>
            </div>
        </label>
        <label class="vk__action" title="Удалить в ВК">
            <input style="display: none;" type="checkbox" data-function="delete_spray" name="actions[]" value='{"function":"delete","type":"spray","id":[+id+],"template":[+template+],"vk_id":[+tv.vk_spray_id+]}'>
            <div class="btn btn-sm btn--delete">
                <i class="fa fa-arrow-down fa-fw"></i>
            </div>
        </label>
    </td>
</tr>