.table {
    &.data {
        .actions {
            a {
                text-decoration: none;
            }
        }

        a {

            &.published-0 {
                font-style: italic;
                color: #b68282;
            }

            &.deleted-1 {
                font-style: normal;
                text-decoration: line-through;
                color: #a52a2a;
            }
        }
    }
}

.pages {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    padding: 8px 0;
    font-size: 0.8125rem;

    &__link {
        line-height: 1;
        padding: 8px;

        &.active {
            font-weight: bolder;
        }
    }
}