.loading {
    overflow: hidden;

    #mainloader {
        position: fixed;
        opacity: 1;
        visibility: visible;
    }
}

.vk {
    &__item {
        white-space: nowrap;

        &.published-0 {
            font-style: italic;
            color: #b68282;
        }

        &.deleted-1 {
            font-style: normal;
            text-decoration: line-through;
            color: #a52a2a;
        }
    }

    &__action {
        display: inline-block;
        margin: 0 0.075rem;
    }
}

.table {
    &.data {

        td,
        th {
            white-space: nowrap;
        }

        .actions {
            a {
                text-decoration: none;
            }
        }
    }
}

.pages {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    padding: 8px 0;
    font-size: 0.8125rem;

    &__link {
        line-height: 1;
        padding: 12px;

        &.active {
            font-weight: bolder;
        }
    }

    &__separ {
        line-height: 1;
        padding: 12px;
    }
}

.text {
    &-normal {
        text-transform: none !important;
    }
}